<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
	<testsuites>
		<testsuite name="PHP-Enum">
			<directory>./src/Garoevans/Tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
